.execucao-edicao {
	height: 100%;
	padding: 1em;
}

.execucao-edicao .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.execucao-edicao .example-full-width,
.execucao-edicao .btn-block {
	width: 100%;
}

.execucao-edicao-box {
	float: left;
	padding: 20px 20px 40px 20px;
	width: 100%;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
}

.executavel-edicao--botao-novo-parametro {
	max-width: 200px;
	padding-bottom: 20px;
}

.executavel-edicao--parametros-box {
	height: 40px;
	min-height: 40px;
	padding-bottom: 10px;
}

.executavel-edicao--botao-excluir-parametro {
	max-width:40px;
}
