.executavel-inicio {
	height: 100%;
	padding: 1em 1em 1em 0;
}

.executavel-inicio-box {
	float: left;
	width: 100vh;
	border-radius: 10px;
	padding: 40px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 380px;
}
