<div class="app">
	<div class="flex-container" fxLayout="row">
		<mat-toolbar color="primary">
			<a mat-button routerLink="/">
				<h2>Task Scheduler</h2>
			</a>
			<span class="app-spacer"></span>
			<div *ngIf="existeUsuarioAutenticado()">
				<a style="font-size: 14px">
					Bem-vindo {{ nomeUsuarioLogado() }}
				</a>
			</div>
			<span class="app-spacer"></span>
			<div>
				<a mat-button
				   *ngIf="!existeUsuarioAutenticado()"
				   routerLink="/login">
					Log in
				</a>
				<a mat-button
				   *ngIf="!existeUsuarioAutenticado()"
				   routerLink="/cadastro">
					Cadastre-se
				</a>
				<a mat-button
				   *ngIf="existeUsuarioAutenticado()"
				   routerLink="/executaveis">
					Executáveis
				</a>
				<a mat-button
				   *ngIf="existeUsuarioAutenticado()"
				   routerLink="/execucoes">
					Execuções
				</a>
				<a mat-button
				   *ngIf="existeUsuarioAutenticado()"
				   routerLink="/agendamentos">
					Agendamentos
				</a>
				<a mat-button
				   *ngIf="existeUsuarioAutenticado()"
				   (click)="realizarLogout()"
				   routerLink="/">
					Sair
					<mat-icon>login</mat-icon>
				</a>
			</div>
		</mat-toolbar>
	</div>

	<div fxFlexFill>
		<router-outlet></router-outlet>
	</div>
</div>
